In [ ]:
#CAN BE USED AS REFERENCE TO SEE HOW EXACTLY checker.py works

In [25]:
import pandas as pd
df = pd.read_csv (r'Diabetes_Pima.csv')
df.head()
df = df.drop('Patient ID', axis=1)

(768, 9)

In [26]:
import numpy as np
Diabetes = df['Diabetes']
df = df.drop('Diabetes', axis=1)
mean_values = df.mean(skipna=True).to_dict() #mean_values is a dictionary storing mean values of columns

{'Pregnancies': 3.8450520833333335, 'PG Concentration': 121.6867627785059, 'Diastolic BP': 72.40518417462484, 'Tri Fold Thick': 29.153419593345657, 'Serum Ins': 155.5482233502538, 'BMI': 32.457463672391015, 'DP Function': 0.47187630208333337, 'Age': 33.240885416666664}

In [27]:
df = df.fillna(mean_values)
df = df[['Serum Ins', 'Age']] #Droping all columns except Age and Serum Ins

    Serum Ins  Age
0   75.000000   33
1  155.548223   69
2  249.000000   29
3  210.000000   25
4   71.000000   21

In [28]:
df['Diabetes'] = Diabetes
df.head()

    Serum Ins  Age Diabetes
0   75.000000   33  Healthy
1  155.548223   69  Healthy
2  249.000000   29     Sick
3  210.000000   25  Healthy
4   71.000000   21  Healthy

In [29]:
## Preparing for GMM to learn predictive model for sic/healthy

X_diabetes = df.drop('Diabetes', axis=1)
X_diabetes.shape

(768, 2)

In [30]:
y_diabetes = df['Diabetes']
y_diabetes.shape

(768,)

In [31]:
#naive-bayes supervized learning ##splitting our dataset into training and testing groups
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X_diabetes, y_diabetes,  #75-25 split
                                                random_state=1)

Xtrain

      Serum Ins  Age
118   99.000000   26
205  155.548223   22
506  125.000000   43
587   77.000000   24
34   370.000000   46
..          ...  ...
645  155.548223   42
715   76.000000   22
72   155.548223   22
235  155.548223   22
37    40.000000   21

[576 rows x 2 columns]

In [32]:
## select model type generates the model
from sklearn.naive_bayes import GaussianNB # 1. choose model class
model = GaussianNB()                       # 2. instantiate model
model.fit(Xtrain, ytrain)                  # 3. fit model to data
y_model = model.predict(Xtest)             # 4. predict on new data
#y_model

In [33]:
#find out how well it works
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model)

0.59375

In [36]:
#custom_test = np.array([2,120,72,26,22.24,32,0.47,53]).reshape(1,-1) #Serum Ins = 22.24, Age = 53
#custom_test_2D = np.array(custom_test).reshape(1,-1)

custom_test = np.array([22.24, 53]).reshape(1,-1)

ct_df = pd.DataFrame(custom_test,columns = ["Serum Ins","Age"])
#ct_df.shape
y_ct = model.predict(ct_df)
print(ct_df)
y_ct

   Serum Ins   Age
0      22.24  53.0

array(['Healthy'], dtype='<U7')